dotNetEIndopdracht/WpfApplication2/Service References/SuperStoreServiceReference/SuperStoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9639/SuperStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" />
  <xs:element name="RegisterNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="userDetails" nillable="true" type="q1:RegistrationContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="RegisterNewUserResult" nillable="true" type="q2:AuthenticationCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="credentials" nillable="true" type="q3:AuthenticationCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="RetrieveUserInfoResult" nillable="true" type="q4:CustomerContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAvailableProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="pagination" nillable="true" type="q5:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAvailableProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="RetrieveAvailableProductsResult" nillable="true" type="q6:ArrayOfProductResponseContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePurchaseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="credentials" nillable="true" type="q7:AuthenticationCredentials" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="pagination" nillable="true" type="q8:Pagination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePurchaseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="RetrievePurchaseHistoryResult" nillable="true" type="q9:ArrayOfPurchaseResponseContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="credentials" nillable="true" type="q10:AuthenticationCredentials" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="productToBuy" nillable="true" type="q11:PurchaseRequestContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="PurchaseProductResult" nillable="true" type="q12:PurchaseResponseContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SuperStoreLibrary.Communication" minOccurs="0" name="product" nillable="true" type="q13:ProductResponseContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>